{% extends 'rm/base.html' %}

{% block content %}
<style>
    h1 {
        text-align: center;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%; /* Hoặc bạn có thể thay đổi độ rộng phù hợp */
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    button {
        margin-top: 15px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    a {
        margin-top: 20px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<br>
<h1>Sửa Món ăn</h1>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cập nhật</button>
    </form>

    <a href="{% url 'menu' %}">Quay lại danh sách menu</a>
</div>

{% endblock content %}
