{% extends 'rm/base.html' %}

{% block content %}
<style>
    h1 {
        text-align: center;
        font-size: 32px;
        color: #333;
        margin-top: 40px;
    }

    form {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }

    form button {
        width: 100%;
        padding: 12px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    form button:hover {
        background-color: #0056b3;
    }

    a {
        display: inline-block;
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-size: 16px;
        color: #333;
        margin-bottom: 8px;
    }

    input, select, textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input:focus, select:focus, textarea:focus {
        border-color: #007bff;
        outline: none;
    }

</style>

<h1>Thêm Món Ăn</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>

    <button type="submit">Thêm Món ăn</button>
</form>

<a href="{% url 'menu' %}">Quay lại danh sách menu</a>

{% endblock content %}
